const validate = require("../validation");
const {
  {{camelCaseName}}CreatedEvent,
  {{camelCaseName}}DeletedEvent,
  TestGenericEvent
} = require("./events");

function create{{camelCaseName}}(state, command) {
  validate(state, { createdAt: { type: "forbidden" } });
  validate(command, {
    payload: {
      type: "object",
      props: {
        title: { type: "string" },
        userId: { type: "string" },
      },
    },
  });

  const { title, userId } = command.payload;

  return {{camelCaseName}}CreatedEvent(title, userId, Date.now());
}

function delete{{camelCaseName}}(state) {
  validate(state, {
    createdAt: {
      type: "any",
      messages: { required: "Aggregate does not exist" },
    },
    removedAt: {
      type: "forbidden",
      messages: { forbidden: "Aggregate is already deleted" },
    },
  });

  return {{camelCaseName}}DeletedEvent(Date.now());
}

function genericCommand(state, command) {
  validate(state, {
    deleted: {
      type: "forbidden",
      messages: { forbidden: "Aggregate is already deleted" },
    },
  });

  return TestGenericEvent(command.payload);
}


module.exports = {
  create{{camelCaseName}},
  delete{{camelCaseName}},
  genericCommand,
};
