const CREATED = "aggregate.{{aggregateName}}.created";
const DELETED = "aggregate.{{aggregateName}}.deleted";
const GENERIC = "aggregate.{{aggregateName}}.generic";

function {{camelCaseName}}CreatedEvent(title, userId, createdAt) {
  return {
    type: CREATED,
    payload: {
      title,
      createdAt,
      createdBy: userId,
    },
  };
}

function {{camelCaseName}}DeletedEvent(removedAt) {
  return {
    type: DELETED,
    payload: {
      removedAt,
    },
  };
}

function {{camelCaseName}}GenericEvent(payload) {
  return {
    type: GENERIC,
    payload,
  };
}

module.exports = {
  types: {
    CREATED,
    DELETED,
  },
  {{camelCaseName}}CreatedEvent,
  {{camelCaseName}}DeletedEvent,
  {{camelCaseName}}GenericEvent,
};
